<h1>My Awesome Colour App</h1>

<ng-template #loadingMsg>
    <app-spinner></app-spinner>
    Loading. Please wait&hellip;
</ng-template>


<table class="table table-hover" *ngIf="people$ | async; else loadingMsg">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Authorised</th>
            <th>Enabled</th>
            <th>Valid</th>
            <th>Colours</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of people$ | async" [routerLink]="['/edit', person.id]">
            <td>{{person.id}}</td>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td class="text-center">
                <fa-icon *ngIf="person.isAuthorised" [icon]="checkIcon" class="text-success"></fa-icon>
            </td>
            <td class="text-center">
                <fa-icon *ngIf="person.isEnabled" [icon]="checkIcon" class="text-success"></fa-icon>
            </td>
            <td class="text-center">
                <fa-icon *ngIf="person.isValid" [icon]="checkIcon" class="text-success"></fa-icon>
            </td>
            <td class="text-center">
                <ul class="colours-indicator">
                    <li *ngFor="let c of person.colours">
                        <app-colour-icon [colourName]="c.name"></app-colour-icon>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <button type="button" class="btn btn-primary btn-sm text-center" [routerLink]="['new']">Create</button>
            </td>
        </tr>
    </tfoot>
</table>

<app-colour-stats></app-colour-stats>