<h1>{{heading}} Person Information</h1>

<ng-template #loadingMsg>
    <app-spinner></app-spinner>
    Loading. Please wait&hellip;
</ng-template>


<div class="container">
    <form *ngIf="!busy; else loadingMsg" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="person.firstName" name="firstName"
                #firstName="ngModel" required maxlength="50">

            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
                <div *ngIf="firstName.errors.required">
                    Name is required.
                </div>
                <div *ngIf="firstName.errors.maxlength">
                    Name must be at least 4 characters long.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="person.lastName" name="lastName">
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isEnabled" [(ngModel)]="person.isEnabled"
                name="isEnabled">
            <label for="isEnabled" class="form-check-label">Enabled</label>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isAuthorised" [(ngModel)]="person.isAuthorised"
                name="isAuthorised">
            <label for="isAuthorised" class="form-check-label">Authorised</label>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isValid" [(ngModel)]="person.isValid" name="isValid">
            <label for="isValid" class="form-check-label">Valid</label>
        </div>

        <div class="form-group">
            <label>Favourite Colours:</label>
            <ul style="list-style-type: none;">
                <li *ngFor="let c of colours">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="{{c.item.name}}" name="{{c.item.name}}"
                            [(ngModel)]="c.selected">
                        <label for="{{c.item.name}}" class="form-check-label">{{c.item.name}}</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-success">Submit</button>
                <a class="btn btn-light" [routerLink]="['/']">Cancel</a>
            </div>
            <div class="col-6" *ngIf="!isNew">
                <button type="button" class="btn btn-danger float-right" (click)="deletePerson()">Delete</button>
            </div>
        </div>
    </form>
</div>