<h1>Amend Person Information</h1>

<pre>{{id}}</pre>

<pre>{{ person | json }}</pre>

<div class="container">
    <form *ngIf="person" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="person.firstName"
                name="firstName">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="person.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="isEnabled">Enabled</label>
            <input type="checkbox" class="form-control" id="isEnabled" [(ngModel)]="person.isEnabled" name="isEnabled">
        </div>

        <div class="form-group">
            <label for="isAuthorized">Authorised</label>
            <input type="checkbox" class="form-control" id="isAuthorised" [(ngModel)]="person.isAuthorised"
                name="isAuthorised">
        </div>

        <div class="form-group">
            <label for="isValid">Valid</label>
            <input type="checkbox" class="form-control" id="isValid" [(ngModel)]="person.isValid" name="isValid">
        </div>

        <ul style="list-style-type: none;">
            <li *ngFor="let c of colours">
                <input type="checkbox" class="form-control" id="{{c.name}}" name="{{c.name}}"
                    (change)="toggleColor(c.id)" [(ngModel)]="c.selected">
                <label for="{{c.name}}">{{c.name}}</label>
            </li>
        </ul>

        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-default" [routerLink]="['/']">back</a>

    </form>
</div>